{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "forceAllTransforms": true
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
