name: JS lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  js-lint:
    name: JS Lint

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Install yarn maybe
        run: which yarn || npm install -g yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Lint
        run: yarn lint
